.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.course-contents {
  z-index: 2;
  position: fixed;
  background-color: black;
}

ol.course-contents {
  text-align: left;
}


.semester {
  display: flex;
  width: 100%;
}

.semester-name {
  width: 200px;
  text-align: left;
}

.semester-courses {
  display: flex;
  width: calc(100% - 200px);
  justify-content: space-evenly;
}


.ScheduleInterface {
  width: 80%;
}

.Sidebar {
  width: 20%;
}